
.btn-color-mode-switch-theme{
  display: inline-block;
  position: relative;
}

label.btn-color-mode-switch-theme-inner{
  width: 61px;
  height: 32px;
  border-style: solid;
  border-width: 1px;
  border-radius: 18px;
  overflow: hidden;
  position: relative;
  transition: all 0.3s ease;
  display: block;
 
}

input[type="checkbox"]:not(:checked) + label.btn-color-mode-switch-theme-inner:before{
  content: url('./dark_black.svg');
  position: absolute;
  top: 5px;
  right: 6px;
}

label.btn-color-mode-switch-theme-inner:after{
  content: url('./light_white.svg');
  width: 24px;
  height: 24px;
  border-radius: 12px;
  position: absolute;
  left: 3px;
  top: 3px;
  text-align: center;
  transition: all 0.3s ease;
  vertical-align: middle;
  padding-top: 2px;
}

input[type="checkbox"]{
  cursor: pointer;
  width: 24px;
  height: 24px;
  opacity: 0;
  position: absolute;
  top: 0;
  z-index: 1;
  margin: 0px;
}

input[type="checkbox"]:checked + label.btn-color-mode-switch-theme-inner:before{
  content: url('./light_white.svg');
  position: absolute;
  top: 5px;
  left: 6px;
}

input[type="checkbox"]:checked + label.btn-color-mode-switch-theme-inner:after{
  content: url('./dark_black.svg');
  left: 30px;
}

.white label.btn-color-mode-switch-theme-inner{
  border-color: #11131F;
}

.white label.btn-color-mode-switch-theme-inner:before{
  color:#ffffff;
}

.white label.btn-color-mode-switch-theme-inner:after{
  background-color: #11131F;
  color:#ffffff;
}

.white input[type="checkbox"]:checked + label.btn-color-mode-switch-theme-inner{
  color: #fff;
}

.white input[type="checkbox"]:checked + label.btn-color-mode-switch-theme-inner:after{
  background: #11131F;
}

.dark label.btn-color-mode-switch-theme-inner{
  border-color: #ffffff!important;
}

.dark label.btn-color-mode-switch-theme-inner:before{
  color:#ffffff!important;
}

.dark label.btn-color-mode-switch-theme-inner:after{
  background-color: #ffffff!important;
  color:#11131F!important;
}

.dark input[type="checkbox"]:checked + label.btn-color-mode-switch-theme-inner{
  color: #ffffff!important;
}

.dark label.btn-color-mode-switch-theme-inner:before{
  color:#ffffff!important;
}

.dark input[type="checkbox"]:checked + label.btn-color-mode-switch-theme-inner:after{
  background: #ffffff!important;
}