
.btn-color-mode-switch-language{
  display: inline-block;
  position: relative;
}

label.btn-color-mode-switch-language-inner{
  width: 101px;
  height: 32px;
  border-style: solid;
  border-width: 1px;
  border-radius: 18px;
  overflow: hidden;
  position: relative;
  transition: all 0.3s ease;
  display: block;
 
}

label.btn-color-mode-switch-language-inner:before{
  content: attr(data-on);
  position: absolute;
  top: 5px;
  right: 13px;
}

label.btn-color-mode-switch-language-inner:after{
  content: attr(data-off);
  width: 46px;
  height: 24px;
  border-radius: 18px;
  position: absolute;
  left: 3px;
  top: 3px;
  text-align: center;
  transition: all 0.3s ease;
  vertical-align: middle;
  padding-top: 2px;
}

input[type="checkbox"]{
  cursor: pointer;
  width: 50px;
  height: 25px;
  opacity: 0;
  position: absolute;
  top: 0;
  z-index: 1;
  margin: 0px;
}

input[type="checkbox"]:checked + label.btn-color-mode-switch-language-inner:before{
  content: attr(data-off);
  left: 13px;
}

input[type="checkbox"]:checked + label.btn-color-mode-switch-language-inner:after{
  content: attr(data-on);
  left: 50px;
}

.container{
  height: 32px;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.01em;
  font-style: normal;
  font-weight: 400;
}

.white label.btn-color-mode-switch-language-inner{
  border-color: #11131F;
}

.white label.btn-color-mode-switch-language-inner:before{
  color:#11131F;
}

.white label.btn-color-mode-switch-language-inner:after{
  background-color: #11131F;
  color:#ffffff;
}

.white input[type="checkbox"]:checked + label.btn-color-mode-switch-language-inner{
  color: #fff;
}

.white input[type="checkbox"]:checked + label.btn-color-mode-switch-language-inner:after{
  background: #11131F;
}



.dark label.btn-color-mode-switch-language-inner{
  border-color: #ffffff!important;
}

.dark label.btn-color-mode-switch-language-inner:before{
  color:#ffffff!important;
}

.dark label.btn-color-mode-switch-language-inner:after{
  background-color: #ffffff!important;
  color:#11131F;
}

.darkinput[type="checkbox"]:checked + label.btn-color-mode-switch-language-inner{
  color: #11131F!important;
}

.darkinput[type="checkbox"]:checked + label.btn-color-mode-switch-language-inner:after{
  background: #ffffff!important;
}