@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
	html {
    font-family: pp-neue-montreal;
  }
	h1{
		@apply font-medium text-4xl md:text-6xl lg:text-9xl
	}
	h2{
		@apply font-medium text-3xl md:text-4xl lg:text-6xl 
	}
	h3{
		@apply font-medium text-1xl md:text-3xl 
	}
	.font-s1 {
		@apply font-normal text-xl leading-[24px] md:text-3xl md:leading-[40px]
	}
	.font-s2 {
		@apply font-normal md:text-xl
	}
	.font-s3 {
		@apply font-normal text-lg 
	}
}

@layer components{
    .burger-icon {
		width: 32px;
		height: 24px;
		position: relative;
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
		-webkit-transition: 0.5s ease-in-out;
		-moz-transition: 0.5s ease-in-out;
		-o-transition: 0.5s ease-in-out;
		transition: 0.5s ease-in-out;
		cursor: pointer;
	}
}