@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
	html {
    @apply font-montrealBook;
  }
	h1{
		@apply font-montrealMedium text-4xl md:text-6xl lg:text-9xl
	}
	h2{
		@apply font-montrealMedium text-3xl md:text-4xl lg:text-6xl 
	}
	h3{
		@apply font-montrealMedium text-1xl md:text-3xl 
	}
	.font-s1 {
		@apply font-montrealBook text-xl leading-[24px] md:text-3xl md:leading-[40px]
	}
	.font-s2 {
		@apply font-montrealBook md:text-xl
	}
	.font-s3 {
		@apply font-montrealBook text-lg 
	}
	.font-h1 {
		@apply font-montrealMedium text-4xl md:text-6xl lg:text-9xl
	}
	.font-h2{
		@apply font-montrealMedium text-3xl md:text-4xl lg:text-6xl 
	}
	.font-h3{
		@apply font-montrealMedium text-1xl md:text-3xl 
	}
}

@font-face {
  font-family: "PP Neue Montreal Book";
  src: url("/public/font/PPNeueMontreal-Book.otf");
}

@font-face {
  font-family: "PP Neue Montreal Medium";
  src: url("/public/font/PPNeueMontreal-Medium.otf");
}