@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
	html {
    font-family: pp-neue-montreal;
  }
}

@layer components{
    .burger-icon {
		width: 32px;
		height: 24px;
		position: relative;
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
		-webkit-transition: 0.5s ease-in-out;
		-moz-transition: 0.5s ease-in-out;
		-o-transition: 0.5s ease-in-out;
		transition: 0.5s ease-in-out;
		cursor: pointer;
	}
}